{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% block title %}Page not found{% endblock %}
{% extends "::layout.html.twig" %}

 {% block eene_user_content %}
 	<div class="row">
			<div class="col-md-8 col-md-offset-4">
    <h1>Page not found</h1>

    {# example security usage, see below #}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %}

    <p>
        The page you are looking for does not exist. Checkout for any URL
        misspelling or <a href="{{ path('user_login') }}">return to the homepage</a>.
    </p>
    
    </div>
    </div>
{% endblock %}