{% extends "::layout.html.twig" %}
{% block title %}Resetting{% endblock %}
{% trans_default_domain 'FOSUserBundle' %}
{% block eene_user_content %}
<p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock eene_user_content %}
