{% trans_default_domain 'FOSUserBundle' %}
 <h2>Resetting your password</h2>
{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}),
    'attr': { 'class': 'fos_user_resetting_reset', 'novalidate':'novalidate' } }) }}
    <div class="form-group">

                    <label for="inputName" class="col-lg-3 control-label">new password</label>

                    <div class="col-lg-5">

                        {{form_widget(form.plainPassword.first)}}

                    </div>

          </div>
          
           <div class="form-group">

                    <label for="inputName" class="col-lg-3 control-label">Repeat new password</label>

                    <div class="col-lg-5">

                        {{form_widget(form.plainPassword.second)}}

                    </div>

          </div>
          
 
     <div align="center" class="button-wrap">
       <button class="btn btn-primary signup" type="submit" name="action">
          Submit
       </button>
    </div>
{{ form_end(form) }}
